---
const town = 'TOWN'
import DefaultContentBlock from "../../../components/Content/DefaultContentBlock.astro";
import SubTitle from "../../../components/Headings/SubTitle.astro";
import MidTitle from "../../../components/Headings/MidTitle.astro";

import Hero from "../../../components/Hero/Hero.astro";

import Layout from "../../../layouts/Layout.astro";
import backgroundImg from "../../../assets/images/boxhill-ext.jpg";
import placeholder from "../../../assets/images/600x600.png";
import boxhillImg from "../../../assets/images/box-2.jpg";
import oratoryImg from "../../../assets/images/oratory-new.jpg";
import wellsImg from "../../../assets/images/WELLS-2.jpg";
import cottesmoreImg from "../../../assets/images/cottesmore.jpg";
import trentImg from "../../../assets/images/box-2.jpg";
import english from "../../../assets/images/englishfeature.jpg";
import golf from "../../../assets/images/goldfeature.jpg";
import multiActivity from "../../../assets/images/multiactivity.jpg";
import horse from "../../../assets/images/newhorse.jpg";
import psg from "../../../assets/images/psgfeature.jpg";
import robotics from "../../../assets/images/robotics.jpg";
import tennis from "../../../assets/images/tennis.jpg";
import arts from "../../../assets/images/arts.jpg";
import quote from "../../../assets/images/quote.png";
import SouthAfrica from "../../../assets/flags/South-Africa.png";
import Italy from "../../../assets/flags/Italy.png";
import China from "../../../assets/flags/China.png";
import Russia from "../../../assets/flags/Russia.png";
import flag1 from "../../../assets/flags/flag1.png";


---

<Layout title="International Summer School" description="Samiad International Summer School. International summer school programmes for juniors and teenagers to experience unforgettable English language programmes.">
  
  <Hero
  title="INTERNATIONAL SUMMER SCHOOL"
  
  image={backgroundImg.src}
  
  
/>

<DefaultContentBlock>
<div slot="content">
  <p>
    Experience the ultimate international summer school adventure by joining over 1,000 children from more than 100 countries. 
  
    Currently enrolling new students from {town} looking to have a summer of a lifetime, make lifelong friends, and take home a treasure trove of incredible memories. 
  </p>
  <SubTitle textAlign="center"><span class="text-gray-800 block">FIVE LOCATIONS, </span>ONE UNFORGETABLE EXPERIENCE</SubTitle>
  <p>
    Samiad offers international summer school programmes for juniors and teenagers from {town} to experience unforgettable English language programmes, hosted across 5 stunning UK boarding schools. Offering access to world-class facilities and a wide range of thrilling experiences, our summer schools provide a truly immersive learning environment.
  </p>
</div>
  
</DefaultContentBlock>

<!-- LOCATION CARDS -->
<div class="mx-auto px-2 mt-12 grid max-w-7xl gap-2 lg:grid-cols-5 bg-gray-100 py-10">
     
  <!-- START CARD -->
  <div
    class="bg-white flex w-full flex-col overflow-hidden shadow-lg mx-auto mb-10 pb-4 text-center"
  >
    <img
      src={boxhillImg.src}
      class="h-48 w-full object-cover"
      alt="Intenational Summer School - Box Hill school"
    />
    <h2 class="text-sm text-center uppercase mt-2 font-serif text-samiad-gold">
      Surrey
    </h2>
    <h3 class="mx-4 my-4 text-gray-800 text-xl text-center font-serif">
      BOX HILL <br />SCHOOL
    </h3>
    <h4 class="font-bold text-sm text-center">
      Closest City / Town
    </h4>
    <p class="mb-4">
      Kingston-on-Thames
    </p>
    <h4 class="font-bold text-sm text-center">
      Closest Airport
    </h4>
    <p class="mb-4">
      Heathrow (30 minutes)
    </p>
    <h4 class="font-bold text-sm text-center">
      Age Range
    </h4>
    <p class="mb-4">
      7 - 17 years
    </p>
    <h4 class="font-bold text-sm text-center">
      Dates
    </h4>
    <p class="mb-4">
      9th July - 27th August
    </p>
    <p>
     <a href="/" class="underline text-samiad-gold">Discover More</a>
    </p>
    
  </div>
  <!-- END CARD -->

  <!-- START CARD -->
  <div
    class="bg-white w-full flex flex-col overflow-hidden shadow-lg mx-auto mb-10 pb-4 text-center"
  >
    <img
      src={cottesmoreImg.src}
      class="h-48 w-full object-cover"
      alt="Intenational Summer School"
    />
    <h2 class="text-sm text-center uppercase mt-2 text-samiad-gold">
      Sussex
    </h2>
    <h3 class="mx-4 my-4 text-xl text-center font-serif">
      COTTESMORE SCHOOL
    </h3>
    <h4 class="font-bold text-sm text-center">
      Closest City / Town
    </h4>
    <p class="mb-4">
      Crawley
    </p>
    <h4 class="font-bold text-sm text-center">
      Closest Airport
    </h4>
    <p class="mb-4">
      Gatwick (15 minutes)
    </p>
    <h4 class="font-bold text-sm text-center">
      Age Range
    </h4>
    <p class="mb-4">
      5 - 13 years
    </p>
    <h4 class="font-bold text-sm text-center">
      Dates
    </h4>
    <p class="mb-4">
      9th July - 6th August
    </p>
    <p>
     <a href="/" class="underline text-samiad-gold">Discover More</a>
    </p>
    
  </div>
  <!-- END CARD -->

  <!-- START CARD -->
  <div
    class="bg-white w-full flex flex-col overflow-hidden shadow-lg mx-auto mb-10 pb-4 text-center"
  >
    <img
      src={oratoryImg.src}
      class="h-48 w-full object-cover"
      alt="Intenational Summer School"
    />
    <h2 class="text-sm text-center uppercase mt-2 text-samiad-gold">
      Surrey
    </h2>
    <h3 class="mx-4 my-4 text-gray-800 text-xl font-serif text-center">
      THE ORATORY SCHOOL
    </h3>
    <h4 class="font-bold text-sm text-center">
      Closest City / Town
    </h4>
    <p class="mb-4">
      Reading
    </p>
    <h4 class="font-bold text-sm text-center">
      Closest Airport
    </h4>
    <p class="mb-4">
      Heathrow (45 minutes)
    </p>
    <h4 class="font-bold text-sm text-center">
      Age Range
    </h4>
    <p class="mb-4">
      7 - 17 years
    </p>
    <h4 class="font-bold text-sm text-center">
      Dates
    </h4>
    <p class="mb-4">
      9th July - 30th July
    </p>
    <p>
     <a href="/" class="underline text-samiad-gold">Discover More</a>
    </p>
    
  </div>
  <!-- END CARD -->

  <!-- START CARD -->
  <div
    class="bg-white w-full flex flex-col overflow-hidden shadow-lg mx-auto mb-10 pb-4 text-center"
  >
    <img
      src={trentImg.src}
      class="h-48 w-full object-cover"
      alt="Intenational Summer School"
    />
    <h2 class="text-sm text-center uppercase mt-2 text-samiad-gold">
      Surrey
    </h2>
    <h3 class="mx-4 my-4 text-gray-800 text-xl font-serif text-center">
      TRENT <br /> COLLEGE
    </h3>
    <h4 class="font-bold text-sm text-center">
      Closest City / Town
    </h4>
    <p class="mb-4">
      Nottingham
    </p>
    <h4 class="font-bold text-sm text-center">
      Closest Airport
    </h4>
    <p class="mb-4">
      East Midlands (15 minutes)
    </p>
    <h4 class="font-bold text-sm text-center">
      Age Range
    </h4>
    <p class="mb-4">
      7 - 17 years
    </p>
    <h4 class="font-bold text-sm text-center">
      Dates
    </h4>
    <p class="mb-4">
      9th July - 27th August
    </p>
    <p>
     <a href="/" class="underline text-samiad-gold">Discover More</a>
    </p>
    
  </div>
  <!-- END CARD -->

  <!-- START CARD -->
  <div
    class="bg-white w-full flex flex-col overflow-hidden shadow-lg mx-auto mb-10 pb-4 text-center"
  >
    <img
      src={wellsImg.src}
      class="h-48 w-full object-cover"
      alt="Intenational Summer School"
    />
    <h2 class="text-sm text-center uppercase mt-2 text-samiad-gold">
      Surrey
    </h2>
    <h3 class="mx-4 my-4 text-gray-800 text-xl text-center font-serif">
      WELLS CATHEDRAL SCHOOL
    </h3>
    <h4 class="font-bold text-sm text-center">
      Closest City / Town
    </h4>
    <p class="mb-4">
      Wells
    </p>
    <h4 class="font-bold text-sm text-center">
      Closest Airport
    </h4>
    <p class="mb-4">
      Bristol (45 minutes)
    </p>
    <h4 class="font-bold text-sm text-center">
      Age Range
    </h4>
    <p class="mb-4">
      7 - 17 years
    </p>
    <h4 class="font-bold text-sm text-center">
      Dates
    </h4>
    <p class="mb-4">
      9th July - 20th August
    </p>
    <p>
     <a href="/" class="underline text-samiad-gold">Discover More</a>
    </p>
    
  </div>
  <!-- END CARD -->

  
</div>
<!-- END LOCATION CARDS -->



<div class="bg-samiad-dark-brown text-center text-lg py-6">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6 mx-auto inline">
    <path fill-rule="evenodd" d="M8.161 2.58a1.875 1.875 0 011.678 0l4.993 2.498c.106.052.23.052.336 0l3.869-1.935A1.875 1.875 0 0121.75 4.82v12.485c0 .71-.401 1.36-1.037 1.677l-4.875 2.437a1.875 1.875 0 01-1.676 0l-4.994-2.497a.375.375 0 00-.336 0l-3.868 1.935A1.875 1.875 0 012.25 19.18V6.695c0-.71.401-1.36 1.036-1.677l4.875-2.437zM9 6a.75.75 0 01.75.75V15a.75.75 0 01-1.5 0V6.75A.75.75 0 019 6zm6.75 3a.75.75 0 00-1.5 0v8.25a.75.75 0 001.5 0V9z" clip-rule="evenodd" />
  </svg>
  
  
<a href="https://www.samiad.com/locations/" class="text-white hover:text-samiad-gold">VIEW OUR LOCATIONS</a>
</div>

<DefaultContentBlock
>
<div class="lg:text-center" slot="content" >
  <SubTitle>INDUSTRY LEADING STAFF RATIO</SubTitle>
<ul class="list-disc list-inside">
  <li>Our staff are at the forefront of every experience our students have.</li>
  <li>Talented Teaching, Activity and Welfare Teams.</li>
  <li>Round-the-clock care and supervision.</li>
  <li>An industry leading 1:6 Staff to Student Ratio.</li>
  <li>24-hour compunction via WhatsApp with a dedicated parent liaison.</li>

</ul>
<SubTitle>20 NATIONALITIES EVERY WEEK</SubTitle>
<ul class="list-disc list-inside">
  <li>Our unique approach means we guarantee at least 20 nationalities.</li>
  <li>A maximum of 1 in every 5 students will speak the same language.</li>
  <li>A truly international experience to help improve your English.</li>
</ul>
<p>
  Attending an International Summer School is all about meeting new people and practicing your English, <br />at Samiad, we guarantee this.
</p>
<SubTitle>WHAT'S INCLUDED</SubTitle>
<ul class="list-disc list-inside">
  <li>Our famous overnight excursion to either a medieval castle or to London.</li>
  <li>15 hours of English every week.</li>
  <li>A Comprehensive Airport Transfer Service.</li>
  <li>A Dedicated parent liaison, keeping in touch 24-hours a day.</li>
  <li>An action-packed schedule of afternoon and evening activities.</li>
  <li>No hidden fees.</li>
</ul>
<SubTitle>OUR PROGRAMMES</SubTitle>
<ul class="list-disc list-inside">
  <li>8 programs to choose from.</li>
  <li>Something for every student with any interest.</li>
  <li>STEM, sports or performing arts we provide an action-packed schedule.</li>
  <li>Students explore their passions and develop new skills.</li>
</ul>

<p>We pride ourselves on ensuring every part of our <a href="https://www.samiad.com/programmes/" class="underline text-blue-900">programmes</a> are truly exceptional.</p>

</div>

</DefaultContentBlock>

<!-- PROGRAMMES CARDS -->
<div class="mx-auto mt-12 grid max-w-7xl lg:grid-cols-4 py-10">
     
  <!-- START CARD -->
  <div
    class="bg-white flex flex-col overflow-hidden w-11/12 mx-auto pb-4 text-center"
  >
    <img
      src={english.src}
      class="h-48 w-full object-cover"
      alt="international summer school"
    />
    
    <h3 class="mx-4 my-4 text-xl text-center uppercase font-serif text-samiad-gold">
      Intensive English
    </h3>
    
    <p class="mb-4 italic">
      Including English
    </p>

    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden w-11/12 mx-auto pb-4 text-center"
  >
    <img
      src={robotics.src}
      class="h-48 w-full object-cover"
      alt="international summer school"
    />
    
    <h3 class="mx-4 my-4 text-samiad-gold text-xl text-center uppercase font-serif">
      Robotics
    </h3>
    
    <p class="mb-4 italic">
      Including English
    </p>

    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden w-11/12 mx-auto pb-4 text-center"
  >
    <img
      src={golf.src}
      class="h-48 w-full object-cover"
      alt="international summer school"
    />
    
    <h3 class="mx-4 my-4 text-samiad-gold text-xl text-center uppercase font-serif">
      Golf
    </h3>
    
    <p class="mb-4 italic">
      Including English
    </p>

    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden w-11/12 mx-auto pb-4 text-center"
  >
    <img
      src={psg.src}
      class="h-48 w-full object-cover"
      alt="international summer school"
    />
    
    <h3 class="mx-4 my-4 text-samiad-gold text-xl text-center uppercase font-serif">
      PSG Academy
    </h3>
    
    <p class="mb-4 italic">
      Including English
    </p>

    
  </div>
  <!-- END CARD -->

  
</div>
<!-- END PROGRAMMES CARDS -->

<!-- PROGRAMMES CARDS -->
<div class="mx-auto grid max-w-7xl lg:grid-cols-4">
     
  <!-- START CARD -->
  <div
    class="bg-white flex flex-col overflow-hidden w-11/12 mx-auto pb-4 text-center"
  >
    <img
      src={multiActivity.src}
      class="h-48 w-full object-cover"
      alt="international summer school"
    />
    
    <h3 class="mx-4 my-4 text-samiad-gold text-xl text-center uppercase font-serif">
      Multi-Activity
    </h3>
    
    <p class="mb-4 italic">
      Including English
    </p>

    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden w-11/12 mx-auto pb-4 text-center"
  >
    <img
      src={tennis.src}
      class="h-48 w-full object-cover"
      alt="international summer school"
    />
    
    <h3 class="mx-4 my-4 text-samiad-gold text-xl text-center uppercase font-serif">
      Tennis
    </h3>
    
    <p class="mb-4 italic">
      Including English
    </p>

    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden w-11/12 mx-auto pb-4 text-center"
  >
    <img
      src={horse.src}
      class="h-48 w-full object-cover"
      alt="international summer school"
    />
    
    <h3 class="mx-4 my-4 text-samiad-gold text-xl text-center uppercase font-serif">
      Horse Riding
    </h3>
    
    <p class="mb-4 italic">
      Including English
    </p>

    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden w-11/12 mx-auto pb-4 text-center"
  >
    <img
      src={arts.src}
      class="h-48 w-full object-cover"
      alt="international summer school"
    />
    
    <h3 class="mx-4 my-4 text-samiad-gold text-xl text-center uppercase font-serif">
      Performing Arts
    </h3>
    
    <p class="mb-4 italic">
      Including English
    </p>

    
  </div>
  <!-- END CARD -->

  
</div>
<!-- END PROGRAMMES CARDS -->

<DefaultContentBlock>
  <div slot="content" class="text-center">
    <!-- MIDTITLE HIDDEN FROM LARGE SCREENS -->
    <span class="lg:hidden"><MidTitle color="gray-900">HOW FAR ARE YOU FROM A <br />SAMIAD INTERNATIONAL SUMMER SCHOOL?</MidTitle></span>
     <!-- SUBTITLE HIDDEN FROM SMALL TO MID SCREENS -->
     <span class="hidden lg:block"><SubTitle color="gray-900">HOW FAR ARE YOU FROM A <br />SAMIAD INTERNATIONAL SUMMER SCHOOL?</SubTitle></span>
    <p class="text-left">
      From {town} looking for a summer school in England? We offer a fabulous, handpicked variety of beautiful locations around England. Select from our <a href="https://www.samiad.com/box-hill-school/" class="underline text-blue-900">Surrey</a>, <a href="https://www.samiad.com/cottesmore-school/" class="underline text-blue-900">Sussex</a>, <a href="https://www.samiad.com/the-oratory-school/" class="underline text-blue-900">Oxfordshire</a>, <a href="https://www.samiad.com/trent-college/" class="underline text-blue-900">East Midlands</a> or <a href="https://www.samiad.com/wells-cathedral-school/" class="underline text-blue-900">Somerset</a> school campuses, each offering state-of-the art facilities, and a perfect environment to create new memories, grow and learn. All of our school campuses have beautiful grounds and are within 45 minutes from the closest airport.
    </p>
  </div>
    
  </DefaultContentBlock>

<!-- BEGIN TESTIMONIAL WRAPPER -->
  <div class="mt-10">
  <SubTitle color="gray-900">TESTIMONIALS</SubTitle>
  <!-- TESTIMONIAL CARDS -->
<div class="mx-auto grid max-w-7xl lg:grid-cols-3 pt-10">
     
  <!-- START CARD -->
  <div
    class="bg-white flex flex-col overflow-hidden shadow-lg w-11/12 mx-auto pb-4 px-4 text-center"
  >
    <img
      src={quote.src}
      width="50"
      class="mx-auto my-10"
      alt="International summer school"
    />
   
    
    <p class="mb-4 italic text-gray-500">
      'Samiad is Amazing. We arranged for my nephew to join the summer school and he cannot stop talking about it and everything that he saw, experienced and learned.

    </p>
    <p class="mb-4 italic text-gray-500">
      I would recommend Samiad to everyone!! 5 stars without a doubt!'
    </p> 
    <p class="mb-4 font-bold">
      Charlene - Parent
    </p> 
    <img
    src={SouthAfrica.src}
    width="75"
    class="mx-auto my-10"
    alt="International summer school"
  />
    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden shadow-lg w-11/12 mx-auto pb-4 px-4 text-center"
  >
    <img
      src={quote.src}
      width="50"
      class="mx-auto my-10"
      alt="International summer school"
    />
   
    
    <p class="mb-4 italic text-gray-500">
      'This school is very professional and the staff are friendly! Everything is perfectly planned and the activities are always a lot of fun. Locations are stunning: a real full immersion in the English culture! 

    </p>
    <p class="mb-4 italic text-gray-500">
      My children came home so happy and excited to return. We can’t thank Samiad enough for such a wonderful experience!'   </p> 
    <p class="mb-4 font-bold">
      Susanna - Parent
    </p> 
    <img
    src={Italy.src}
    width="75"
    class="mx-auto my-10"
    alt="International summer school"
  />
    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden shadow-lg w-11/12 mx-auto pb-4 px-4 text-center"
  >
    <img
      src={quote.src}
      width="50"
      class="mx-auto my-10"
      alt="International summer school"
    />
   
    
    <p class="mb-4 italic text-gray-500">
      'I went to Samiad/Box Hill school for 2 weeks and they were the best two weeks of my life, everyone was so friendly and lovely, teachers and staff always encouraged us to ask questions and to never be ashamed of not knowing things and words. 

    </p>
    <p class="mb-4 italic text-gray-500">
      I highly recommend the school and I’m 100% going to samiad again after I finish my last year at school!'
    </p> 
    <p class="mb-4 font-bold">
      Elie - Student
    </p> 
    <img
    src={Russia.src}
    width="75"
    class="mx-auto my-10"
    alt="International summer school"
  />
    
  </div>
  <!-- END CARD -->

 

  
</div>
<!-- END TESTIMONIAL CARDS -->

<!-- TESTIMONIAL CARDS -->
<div class="mx-auto mt-12 grid max-w-7xl lg:grid-cols-2 pb-10">
     
  <!-- START CARD -->
  <div
    class="bg-white flex flex-col overflow-hidden shadow-lg w-11/12 mx-auto mb-10 pb-4 px-4 text-center"
  >
    <img
      src={quote.src}
      width="50"
      class="mx-auto my-10"
      alt="International summer school"
    />
   
    
    <p class="mb-4 italic text-gray-500">
      'My son came to samiad school for several years in a row.
     </p>
    <p class="mb-4 italic text-gray-500">
      He really liked the friendly atmosphere, the international nature of the school, a large number of activities, independence.'
    </p> 
    <p class="mb-4 font-bold">
      Valentina - Parent
    </p> 
    <img
    src={flag1.src}
    width="75"
    class="mx-auto my-10"
    alt="International summer school"
  />
    
  </div>
  <!-- END CARD -->

    <!-- START CARD -->
    <div
    class="bg-white flex flex-col overflow-hidden shadow-lg w-11/12 mx-auto mb-10 pb-4 px-4 text-center"
  >
    <img
      src={quote.src}
      width="50"
      class="mx-auto my-10"
      alt="International summer school"
    />
   
    
    <p class="mb-4 italic text-gray-500">
      'The summer school is absolutely amazing, we came as a group in 2022 and the teachers are all too professionals very caring of students, activities are packed every single day, the whole group would love to come back again this year! 
    </p>
    <p class="mb-4 italic text-gray-500">
      If you are looking for a fun educational packed summer school, I would highly recommend Samiad!'   </p> 
    <p class="mb-4 font-bold">
      Chi - Group Leader
    </p> 
    <img
    src={China.src}
    width="75"
    class="mx-auto my-10"
    alt="International summer school"
  />
    
  </div>
  <!-- END CARD -->

  
  </div>
  <!-- END TESTIMONIAL CARDS -->

</div>
<!-- END TESTIMONIAL WRAPPER -->
</Layout>