---
import SubTitle from "../Headings/SubTitle.astro";
import Container from "../Layout/Container.astro";
interface Props {
  title: string;
  copy?: string;
  href?: string;
  linkText?: string;
  secondaryHref?: string;
  secondaryLinkText?: string;
}
const { title, copy, href, linkText, secondaryHref, secondaryLinkText } =
  Astro.props;
---

<section class="bg-keld-yellow">
  <Container classes="py-16">
    <div class="mx-auto max-w-2xl text-center">
      <SubTitle color="keld-slate">
        {title}
      </SubTitle>
      {
        typeof copy === "string" ? (
          <p class="mt-3 text-xl text-keld-slate">{copy}</p>
        ) : (
          <slot name="copy" />
        )
      }
      {
        href && (
          <div class="mt-8 max-w-md mx-auto space-y-4 sm:space-y-0 sm:space-x-2">
            <a
              href={href}
              class="block sm:inline-flex items-center justify-center border border-transparent bg-keld-slate text-white px-5 py-3 text-base font-bold uppercase hover:bg-yellow-700"
            >
              {linkText}
            </a>
            {secondaryHref && (
              <a
                href={secondaryHref}
                class="block sm:inline-flex items-center justify-center border border-keld-slate bg-transparent px-5 py-3 text-base font-bold uppercase text-keld-slate hover:bg-yellow-700 hover:text-white hover:border-yellow-700"
              >
                {secondaryLinkText}
              </a>
            )}
          </div>
        )
      }
    </div>
  </Container>
</section>
