---
const town = 'TOWN'
import DefaultContentBlock from "../components/Content/DefaultContentBlock.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import MidTitle from "../components/Headings/MidTitle.astro";
import TwoColumnContentBlock from "../components/Content/TwoColumnContentBlock.astro";
import ReversedTwoColumnContentBlock from "../components/Content/ReversedTwoColumnContentBlock.astro";
import CallToAction from "../components/CallToAction.astro";

import Hero from "../components/Hero/ESHero.astro";
import ImageLeft from "../components/Content/ImageOnRight.astro";

import Layout from "../layouts/Layout.astro";
import backgroundImg from "../assets/images/web-bg2.png";
import webDesign1 from "../assets/images/web-design-img6.jpg";
import seo1 from "../assets/images/seo1.png";
import cta from  "../assets/images/cta-bg.jpg";
import copy from  "../assets/images/copy1.jpg";
import growth from  "../assets/images/growth1.jpg";
import placeholder from "../assets/images/600x600.png";

---

<Layout title="Affordable Web Design, SEO and Digital Marketing Services" description="EasyNet Solutions provide affordable web design and digital marketing solutions for your business.">
  
  <Hero
  title=" Affordable Web Design and Digital Marketing Solutions"
  sub="Grow Your Business the EASY way"
  
  image={backgroundImg.src}
  >
  <div slot="heroContent"> 
    <p class="my-6 lg:text-lg leading-8">
      EasyNet Solutions provide affordable, versatile web design and digital marketing solutions for your business.
      
    </p>
    <p class="lg:text-lg leading-8 mb-6">
      From lightning-fast, feature-rich, fully responsive, high-performance websites to cutting-edge Search Engine Optimisation & digital marketing strategies. We can help your business to achieve the online success it deserves, whatever your size and industry.
    </p>   
    
    <p class="font-bold">We use cutting-edge techniques to ensure that your website out-performs your competitors, giving you the best chance possible to stay ahead of the rest. </p>
  </div>  


  <div slot="card1">
    <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-white p-5 shadow-lg">
     

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-easynet-orange" stroke-width="1.5" >
        <path d="M21.721 12.752a9.711 9.711 0 00-.945-5.003 12.754 12.754 0 01-4.339 2.708 18.991 18.991 0 01-.214 4.772 17.165 17.165 0 005.498-2.477zM14.634 15.55a17.324 17.324 0 00.332-4.647c-.952.227-1.945.347-2.966.347-1.021 0-2.014-.12-2.966-.347a17.515 17.515 0 00.332 4.647 17.385 17.385 0 005.268 0zM9.772 17.119a18.963 18.963 0 004.456 0A17.182 17.182 0 0112 21.724a17.18 17.18 0 01-2.228-4.605zM7.777 15.23a18.87 18.87 0 01-.214-4.774 12.753 12.753 0 01-4.34-2.708 9.711 9.711 0 00-.944 5.004 17.165 17.165 0 005.498 2.477zM21.356 14.752a9.765 9.765 0 01-7.478 6.817 18.64 18.64 0 001.988-4.718 18.627 18.627 0 005.49-2.098zM2.644 14.752c1.682.971 3.53 1.688 5.49 2.099a18.64 18.64 0 001.988 4.718 9.765 9.765 0 01-7.478-6.816zM13.878 2.43a9.755 9.755 0 016.116 3.986 11.267 11.267 0 01-3.746 2.504 18.63 18.63 0 00-2.37-6.49zM12 2.276a17.152 17.152 0 012.805 7.121c-.897.23-1.837.353-2.805.353-.968 0-1.908-.122-2.805-.353A17.151 17.151 0 0112 2.276zM10.122 2.43a18.629 18.629 0 00-2.37 6.49 11.266 11.266 0 01-3.746-2.504 9.754 9.754 0 016.116-3.985z" />
      </svg>
      
    </div>

    
  <div class="text-base leading-7">
    <h3 class="font-semibold mt-8 text-2xl text-white">Web Design from £75</h3>
    <p class="my-2 text-white text-xl">
      Boost your online presence affordably with our web design and development services.
    </p>
    
  </div>
    
      </div>

<div slot="card2">
  <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-white p-5 shadow-lg">
     

    
    <svg class="h-6 w-6 text-easynet-orange" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M17.788 5.108A9 9 0 1021 12h-8" /></svg>
    
  </div>
  <div class="text-base leading-7">
    <h3 class="font-semibold mt-8 text-2xl text-white">Search Engine Optimization</h3>
    <p class="my-2 text-white text-xl">
      Reach your target audience with our comprehensive SEO & digital marketing services.
    
        </p>
  </div>
    
</div>

<div slot="card3">
  <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-white p-5 shadow-lg">
  

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="3" fill="currentColor" class="w-6 h-6 text-easynet-orange">
      <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
      <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
    </svg>
    
    
  </div>
  <div class="text-base leading-7">
 
      

      
    <h3 class="font-semibold mt-8 text-2xl text-white">Content Marketing</h3>

    <p class="my-2 text-white text-xl">
      Boost your online strategy with our content marketing and professional web content writing services.
        </p>

  </div>
    
  
  
  
</div>
  
<!-- 
  <div slot="card1">

  <div class="text-base leading-7">
    <h3 class="font-semibold text-easynet-orange">Affordable</h3>
    <p class="mt-2 text-gray-200">Cost-effective web design packages starting at <span class="font-bold">JUST £75,</span> making professional online presence accessible to businesses of all budgets.
     </p>
  </div>
    
      </div>

<div slot="card2">

  <div class="text-base leading-7">
    <h3 class="font-semibold text-easynet-orange">Professional</h3>
    <p class="mt-2 text-gray-300">Every website we create maintains a high level of professionalism, reflecting positively on your brand and business.</p>
  </div>
    
</div>

<div slot="card3">

  <div class="text-base leading-7">
    <h3 class="font-semibold text-easynet-orange">Reliable</h3>
    <p class="mt-2 text-gray-200">We are dedicated to delivering consistent, dependable results that help your business thrive in the online world.</p>
  </div>
    

  
  
</div>-->

  

  </Hero>

  
<!--

<DefaultContentBlock
classes="bg-white"
leadingText="leading text here"
title="Get started from just £75"
textAlign="center"
>

<div slot="content" class="max-w-3xl mx-auto">
 
 <p>Welcome to EasyNet Solutions, your gateway to accessible and cost-effective web solutions that cater to all your digital needs. Our comprehensive services encompass budget-friendly web design, impactful SEO strategies, and results-driven digital marketing campaigns. At EasyNet Solutions, we believe that establishing a strong online presence shouldn't be a luxury reserved for a select few, but a possibility for all. 
</p>

  <p>With prices starting as low as £75, we proudly present an irresistible offer for a one-page website, making professional web design attainable without breaking the bank. Our team of skilled designers and developers are dedicated to crafting visually appealing, user-friendly, and responsive websites that effectively convey your brand's message. But we don't stop at design alone – our expertise extends to optimizing your online visibility through robust SEO techniques and driving growth via tailored digital marketing strategies. Join us on your journey to online success, where affordability meets excellence, only at EasyNet Solutions.</p>
</div>
  
</DefaultContentBlock>

<TwoColumnContentBlock
      smallSub="Buy a Holiday Lodge"
      title="Find your dream holiday home in North Yorkshire."
      image={tennis}
      imageAlt="An elderly couple celebrating holiday lodge ownership with a glass of wine"
      imageHeading="Keld Spring - luxury lodge park in north Yorkshire"
    >
      <Fragment slot="content">
        <p>
          Whether it's a holiday getaway or permanent residence, Keld Spring
          offers something unique and special that is sure to fit your needs.
          With its picturesque views, tranquil atmosphere and convenient
          location, there's nowhere else quite like Keld Spring!
        </p>
        <p>
          Keld Spring is a collection of 30 luxury holiday homes in North
          Yorkshire. Each lodge is designed to the highest specification and are
          available to buy outright or on a 50% shared ownership basis.
        </p>
        <p>
          The lodges are set in a stunning location, with views of the Yorkshire
          Dales National Park and the North York Moors National Park.
        </p>
        <p>
          This is more than just a holiday park, but a place for all the family,
          friends and loved ones to relax and create unforgettable memories; to
          drink, dine, unwind and explore.
        </p>
      </Fragment>
    </TwoColumnContentBlock>  -->


    <TwoColumnContentBlock
    
    title="Web Design"
    image={webDesign1} 
    imageAlt="Web Design"
    titleColor="black"
    href="/"
    linkText="Find Out More"
  >
    <Fragment slot="content" >
      <p class="my-4">
        All of our websites are fully responsive, feature-rich and lightning-fast ideal for a brand new website or update for your current website.
      </p>
      <p class="mb-4">
        Whether it be a basic website to boost your online presence, an eCommerce store to sell your products online, or something bigger, Easynet has the solution for you.
      </p>
      <p class="mb-4">
        With our cutting-edge technology, your website will be sure to give you the edge over your competitors.
      </p>
      <p>
        With prices starting at just £75 you will be sure to get unbeatable value for money as well as a professional, friendly and helpful service.
      </p>
    </Fragment>
  </TwoColumnContentBlock>

  

  <ReversedTwoColumnContentBlock
    
    title="Search Engine Optimisation"
    image={seo1}
    imageAlt="Search Engine Optimisation"
    href="/"
    linkText="Find Out More"
  >
    <Fragment slot="content" >
      <p class="my-4">
        Looking for a digital marketing solution that can take your business to the next level?
      </p>
      <p class="mb-4">
        Reach new heights with our cutting-edge digital marketing solutions. We take a unique approach to Search Engine Optimisation and digital marketing, using groundbreaking techniques to drive traffic, leads and sales.
      </p>
      <p class="mb-4">
        We will produce a range of lightning-fast, highly-optimized landing pages to boost your online presence and give you the edge over the competition.
      </p>
      <p>
        We do the hard work so you can focus on what you do best: running your business.
      </p>
    </Fragment>
  </ReversedTwoColumnContentBlock>

 
  <CallToAction
  background={cta}  
  title="Can’t get on the first page of Google?"
  description="If your site isn't working nearly as hard as you are, let us help you get your site found by your customers today."
  linkText="Get Your Website Found"
/>



<TwoColumnContentBlock  
    
title="Website Content Writing"
image={copy}
imageAlt="Website Copywriting"
titleColor="black"
href="/"
linkText="Find Out More"
>
<Fragment slot="content" >
  <p class="my-4">
    Are you struggling to find the right words to convey your message on your website? Easynet Solutions has you covered with our expert website copywriting services. 
  </p>
  <p class="mb-4">
    Whether you're looking for stand-alone content creation or need it as part of our comprehensive web design and SEO services, we are here to help.
  </p>
  <p class="mb-4">
    With EasyNet, you get more than just words... we provide highly optimized content that is aimed at outperforming your direct competition on Google.
  </p>
  <p>
    Whether you need captivating product descriptions, informative blog posts, or persuasive landing page content, Easynet Solutions is your trusted partner in creating content that not only speaks to your audience but also drives results. Contact us today to discover how our website copywriting services can transform your online presence.
  </p>
</Fragment>
</TwoColumnContentBlock>

<CallToAction
  background={growth}  

  spanTitle="Grow your business the "
  titleSpan="Easy " spanTitleNext="Way"
  description="We understand that having a website built or beginning an online marketing campaign can be both exciting and daunting for you or your business. We take the time to understand your business and what you want from your website or campaign. We will work with you to create a unique solution that perfectly matches your needs and goals. We will do the heavy lifting for you, and will be with you every step of the way."
  linkText="Get Started Today"
/>

</Layout>