---
const town = 'TOWN'
import DefaultContentBlock from "../components/Content/DefaultContentBlock.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import MidTitle from "../components/Headings/MidTitle.astro";
import TwoColumnContentBlock from "../components/Content/TwoColumnContentBlock.astro";
import ReversedTwoColumnContentBlock from "../components/Content/ReversedTwoColumnContentBlock.astro";
import CallToAction from "../components/CallToAction.astro";

import Hero from "../components/Hero/HeroNoCards.astro";
import ImageLeft from "../components/Content/ImageOnRight.astro";

import Layout from "../layouts/Layout.astro";
import backgroundImg from "../assets/images/google3.jpg";
import webDesign1 from "../assets/images/web-design-img4.png";
import seo2 from "../assets/images/google-mobile.png";
import seo3 from "../assets/images/google4.jpg";
import location from "../assets/images/location1.jpg";
import products from "../assets/images/products1.jpg";
import mbam from "../assets/images/mbam-img1.webp";

import oasis from "../assets/images/oasis1.jpg";
import tolly from "../assets/images/tolly2.png";
import pinnacle from "../assets/images/pinnacle1.png";



import cta from  "../assets/images/cta-bg.jpg";
import copy from  "../assets/images/copy1.jpg";
import growth from  "../assets/images/growth1.jpg";
import placeholder from "../assets/images/600x600.png";

---

<Layout title="SEO and Digital Marketing Services" description="EasyNet Solutions provide cutting-edge SEO techniques to boost your web presence and increase traffic to your website.">
  
  <Hero
  title="Portfolio"
  sub="This is what we do"
  
  image={backgroundImg.src}
  >
  <div slot="heroContent"> 
    <p class="mt-6 lg:text-lg leading-8">
       We couldn't think of a catchy headline for this page. We don't think we need one, either. So we went for something straightforward, uncomplicated for a page that does exactly what it says it does.
    </p>
    <p class="lg:text-lg leading-8">
       That's exactly what you get with EasyNet Solutions.  
    </p>   
    
 
  </div>   
  
  </div>  

  </Hero>

  


<DefaultContentBlock
classes="bg-white"
title="Featured Work"
textAlign="center"
>

<div slot="content" class="max-w-3xl mx-auto">
 
 <p>
    Here are just a few of our success stories.
</p>


</div>
  
</DefaultContentBlock> 



    <TwoColumnContentBlock
    
    title="Body and Mind Massage Therapy"
    image={mbam}
    imageAlt="SEO"
    titleColor="black"
    href="https://www.massagebodyandmind.co.uk/"
    linkText="Visit Body and Mind"
  >
    <Fragment slot="content" >
      <p class="my-4">
        We've been with Body and Mind from the beginning. First, we completely overhauled the tired looking, dated existing wesbite when the business was taken over by new management. We focused on SEO-friendly content, with a user-friendly design and layout. 
      </p>
      <p class="mb-4">
       We then ran a series of social media campaigns, which resulted in the clients customer base growing by around 200%. This continues to grow to this day.
    </p>
      <p class="mb-4">
        Most recently, we have once again completely renovated the website, using our cutting-edge technology to deliver a lightning-fast site, as well as using our multiple landing page SEO strategy to ensure Body and Mind's customer base continues to grow.
      </p>
 
    </Fragment>
  </TwoColumnContentBlock>

  <ReversedTwoColumnContentBlock
    
    title="The Tollington Arms"
    image={tolly}
   width="550"
    imageAlt="SEO"
    titleColor="black"
    href="https://tollingtonarms-holloway.co.uk/"
    linkText="Visit The Tollington Arms"
  >
    <Fragment slot="content" >
      <p class="my-4">
        We completed a full website revamp and overhaul for The Tollington Arms - an award winning London pub. 

         </p>
      <p class="mb-4">
        This website renovation project included the addition of food menus, brand new attractive photo gallery, and social media integration and a blog page that allows the customer to create their own blog posts & publish them directly to their social media accounts.     
    </p>
     
 
    </Fragment>
  </ReversedTwoColumnContentBlock>

  <TwoColumnContentBlock
    
  title="Pinnacle Home Improvements"
  image={pinnacle}
  imageAlt="SEO"
  titleColor="black"
  href="https://pinnaclehome.co.uk/"
  linkText="Visit Pinnacle Home Improvements"
>
  <Fragment slot="content" >
    <p class="my-4">
      Pinnacle are a home improvements company serving the South of England.    
    </p>
    <p class="mb-4">
      We carried out a major overhaul of their website, including a complete content rewrite and a period of content marketing, creating engaging blog posts and articles to help boost their web presence. 
  </p>
  

  </Fragment>
</TwoColumnContentBlock>


<TwoColumnContentBlock  
 
leadText="Case Study"
title="A Google Success Story"
image={oasis}
imageAlt="Product & Service Based Landing Pages"
titleColor="black"
href="https://oasisthaimassage.co.uk/"
linkText="Visit Oasis Thai Massage"

>
<Fragment slot="content" >
  <p class="my-4">
Oasi Thai Massage, based in Wallsend, were a brand new business without a website or any web presence.  </p>
  <p class="mb-4">
  We built them a brand new website, and developed a digital marketing strategy that included generating highly-optimised landing pages for each service they provide, and targeting the local area. 
  </p>
  <p class="mb-4">
    Our comprehensive SEO strategy also included leveraging powerful SEO tools to submit the website to a range of directories and platforms, significantly enhancing local SEO performance by increasing online visibility and credibility, and ensuring that they are easily discoverable by local customers.  </p>
    <p class="font-bold">
      As a result, Oasis Thai Massage is now at the top of Google searches in the local area.
    </p>
   
</Fragment>

</TwoColumnContentBlock>


  
<section class="isolate overflow-hidden pt-10 bg-white px-6 lg:px-8">
  <div class="relative mx-auto max-w-6xl">
    
    <figure class="grid grid-cols-1 items-center gap-x-6 gap-y-8 lg:gap-x-10">
      <div class="relative col-span-2 lg:col-start-1 lg:row-start-2">
        <svg viewBox="0 0 162 128" fill="none" aria-hidden="true" class="absolute -top-12 left-0 -z-10 h-32 stroke-gray-900/10">
          <path id="b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb" d="M65.5697 118.507L65.8918 118.89C68.9503 116.314 71.367 113.253 73.1386 109.71C74.9162 106.155 75.8027 102.28 75.8027 98.0919C75.8027 94.237 75.16 90.6155 73.8708 87.2314C72.5851 83.8565 70.8137 80.9533 68.553 78.5292C66.4529 76.1079 63.9476 74.2482 61.0407 72.9536C58.2795 71.4949 55.276 70.767 52.0386 70.767C48.9935 70.767 46.4686 71.1668 44.4872 71.9924L44.4799 71.9955L44.4726 71.9988C42.7101 72.7999 41.1035 73.6831 39.6544 74.6492C38.2407 75.5916 36.8279 76.455 35.4159 77.2394L35.4047 77.2457L35.3938 77.2525C34.2318 77.9787 32.6713 78.3634 30.6736 78.3634C29.0405 78.3634 27.5131 77.2868 26.1274 74.8257C24.7483 72.2185 24.0519 69.2166 24.0519 65.8071C24.0519 60.0311 25.3782 54.4081 28.0373 48.9335C30.703 43.4454 34.3114 38.345 38.8667 33.6325C43.5812 28.761 49.0045 24.5159 55.1389 20.8979C60.1667 18.0071 65.4966 15.6179 71.1291 13.7305C73.8626 12.8145 75.8027 10.2968 75.8027 7.38572C75.8027 3.6497 72.6341 0.62247 68.8814 1.1527C61.1635 2.2432 53.7398 4.41426 46.6119 7.66522C37.5369 11.6459 29.5729 17.0612 22.7236 23.9105C16.0322 30.6019 10.618 38.4859 6.47981 47.558L6.47976 47.558L6.47682 47.5647C2.4901 56.6544 0.5 66.6148 0.5 77.4391C0.5 84.2996 1.61702 90.7679 3.85425 96.8404L3.8558 96.8445C6.08991 102.749 9.12394 108.02 12.959 112.654L12.959 112.654L12.9646 112.661C16.8027 117.138 21.2829 120.739 26.4034 123.459L26.4033 123.459L26.4144 123.465C31.5505 126.033 37.0873 127.316 43.0178 127.316C47.5035 127.316 51.6783 126.595 55.5376 125.148L55.5376 125.148L55.5477 125.144C59.5516 123.542 63.0052 121.456 65.9019 118.881L65.5697 118.507Z" />
          <use href="#b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb" x="86" />
        </svg>
        <blockquote class="text-xl text-gray-700 italic leading-8 sm:text-2xl sm:leading-9">
          <p>....a tremendous help in establishing our brand online. As a new business with no web presence, this made a real difference in getting us noticed by local customers.</p>
        </blockquote>
      </div>
     
      <figcaption class="text-base lg:col-start-1 lg:row-start-3">
        <div class="font-semibold text-gray-900">Oasis Thai Massage</div>
        <div class="mt-1 text-gray-500">Wallsend, UK</div>
      </figcaption>
    </figure>
  </div>
</section>

<CallToAction
  background={growth}  

  spanTitle="Grow your business the "
  titleSpan="Easy " spanTitleNext="Way"
  description="We understand that having a website built or beginning an online marketing campaign can be both exciting and daunting for you or your business. We take the time to understand your business and what you want from your website or campaign. We will work with you to create a unique solution that perfectly matches your needs and goals. We will do the heavy lifting for you, and will be with you every step of the way."
  linkText="Get Started Today"
/>

</div>


</Layout>

