---
const town = 'TOWN'
import DefaultContentBlock from "../components/Content/DefaultContentBlock.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import MidTitle from "../components/Headings/MidTitle.astro";
import TwoColumnContentBlock from "../components/Content/TwoColumnContentBlock.astro";
import ReversedTwoColumnContentBlock from "../components/Content/ReversedTwoColumnContentBlock.astro";
import CallToAction from "../components/CallToAction.astro";

import Hero from "../components/Hero/EsHero.astro";
import ImageLeft from "../components/Content/ImageOnRight.astro";

import Layout from "../layouts/Layout.astro";
import backgroundImg from "../assets/images/google3.jpg";
import webDesign1 from "../assets/images/web-design-img4.png";
import seo2 from "../assets/images/google-mobile.png";
import cta from  "../assets/images/cta-bg.jpg";
import copy from  "../assets/images/copy1.jpg";
import growth from  "../assets/images/growth1.jpg";
import placeholder from "../assets/images/600x600.png";

---

<Layout title="SEO and Digital Marketing Services" description="EasyNet Solutions provide cutting-edge SEO techniques to boost your web presence and increase traffic to your website.">
  
  <Hero
  title="Search Engine Optimisation & Digital Marketing"
  sub="Supercharge your Website Traffic"
  
  image={backgroundImg.src}
  >
  <div slot="heroContent"> 
    <p class="mt-6 lg:text-lg leading-8">
        Tired of losing out to your competitors on the web?
        Is your website not performing as well as it could be? Suffering from low traffic and low conversion rates?      
      
    </p>
    <p class="lg:text-lg leading-8">
        Reach new heights with our cutting-edge digital marketing solutions. We take a unique approach to Search Engine Optimisation and digital marketing, using groundbreaking techniques to drive traffic, leads and sales.
    </p>   
    
 
  </div>  

  <div slot="card1">

  <div class="text-base leading-7">
    <h3 class="font-semibold text-3xl text-white">Drive traffic with targeted landing pages</h3>
    
  </div>
    
      </div>

<div slot="card2">

  <div class="text-base leading-7">
    <h3 class="font-semibold text-3xl text-white">Highly optimised content to outrank competitors</h3>
  </div>
    
</div>

<div slot="card3">
    
  <div class="text-base leading-7">
 
      

      
    <h3 class="font-semibold text-3xl text-white">Affordable full local SEO packages</h3>
  </div>
    
  
  
  
</div>

  

  </Hero>

  
<!--

<DefaultContentBlock
classes="bg-white"
leadingText="leading text here"
title="Get started from just £75"
textAlign="center"
>

<div slot="content" class="max-w-3xl mx-auto">
 
 <p>Welcome to EasyNet Solutions, your gateway to accessible and cost-effective web solutions that cater to all your digital needs. Our comprehensive services encompass budget-friendly web design, impactful SEO strategies, and results-driven digital marketing campaigns. At EasyNet Solutions, we believe that establishing a strong online presence shouldn't be a luxury reserved for a select few, but a possibility for all. 
</p>

  <p>With prices starting as low as £75, we proudly present an irresistible offer for a one-page website, making professional web design attainable without breaking the bank. Our team of skilled designers and developers are dedicated to crafting visually appealing, user-friendly, and responsive websites that effectively convey your brand's message. But we don't stop at design alone – our expertise extends to optimizing your online visibility through robust SEO techniques and driving growth via tailored digital marketing strategies. Join us on your journey to online success, where affordability meets excellence, only at EasyNet Solutions.</p>
</div>
  
</DefaultContentBlock> -->




    <TwoColumnContentBlock
    
    title="SEO and Digital Marketing"
    image={seo2}
    imageAlt="SEO"
    titleColor="black"
    href="/"
    linkText="Get Started Today"
  >
    <Fragment slot="content" >
      <p class="my-4">
        It can be difficult to know where to start when it comes to Search Engine Optimisation. You might feel overwhelmed and unsure of what exactly to do or where to turn.
      </p>
      <p class="mb-4">
        Let us take care of everything for you. We will produce a range of lightning-fast, highly-optimized landing pages to boost your online presence and give you the edge over the competition.</p>
      <p class="mb-4">
        More pages means that your site ranks higher on search results when people look for your products or services. This means more people finding your website, more orders, and more growth for your business. 
      </p>
      <p class="mb-4">
        We also offer a comprehensive local SEO service to provide your business with all the essential tools and strategies it requires for success in your local area.
      </p>
      <p>Get in touch today to begin your journey to digital success.</p>
    </Fragment>
  </TwoColumnContentBlock>



  <div class="bg-gray-900 py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base lg:text-xl font-semibold leading-7 text-easynet-orange">How it Works
        </h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-6xl">Targeted landing pages for increased website traffic</p>
        <p class="mt-6 text-lg leading-8 text-gray-300">By having more pages on your website you're seen as more authoritative by search engines. You also increase your chances of being found.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
          
            <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                    <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z" clip-rule="evenodd" />
                  </svg>
                  
                  
                  
                  
                  
             <span class="font-bold">Enhanced Visibility</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">Landing pages can be tailored to specific keywords and topics related to your business. When people search for these keywords, your optimized landing pages are more likely to appear in search engine results, increasing your website's visibility.</p>
              
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                    <path fill-rule="evenodd" d="M3.22 3.22a.75.75 0 011.06 0l3.97 3.97V4.5a.75.75 0 011.5 0V9a.75.75 0 01-.75.75H4.5a.75.75 0 010-1.5h2.69L3.22 4.28a.75.75 0 010-1.06zm17.56 0a.75.75 0 010 1.06l-3.97 3.97h2.69a.75.75 0 010 1.5H15a.75.75 0 01-.75-.75V4.5a.75.75 0 011.5 0v2.69l3.97-3.97a.75.75 0 011.06 0zM3.75 15a.75.75 0 01.75-.75H9a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-2.69l-3.97 3.97a.75.75 0 01-1.06-1.06l3.97-3.97H4.5a.75.75 0 01-.75-.75zm10.5 0a.75.75 0 01.75-.75h4.5a.75.75 0 010 1.5h-2.69l3.97 3.97a.75.75 0 11-1.06 1.06l-3.97-3.97v2.69a.75.75 0 01-1.5 0V15z" clip-rule="evenodd" />
                  </svg>
                  
                  
                  
                  
             <span class="font-bold">Targeted Audience</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">
                Landing pages allow you to address different segments of your audience. By creating content that caters to their specific interests or needs, you're more likely to attract and retain visitors who are genuinely interested in your products or services.
             </p>
             
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                    <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 011.06 0l7.5 7.5a.75.75 0 11-1.06 1.06l-6.22-6.22V21a.75.75 0 01-1.5 0V4.81l-6.22 6.22a.75.75 0 11-1.06-1.06l7.5-7.5z" clip-rule="evenodd" />
                  </svg>
                  
                  
                  
                  
                  
             <span class="font-bold">Competitive Advantage</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">Many competitors may only have a few generic pages on their website. By investing in numerous targeted landing pages, you can stand out in your industry and gain a competitive edge.</p>
             
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                    <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
                  </svg>
                  
                  
                  
                  
                  
             <span class="font-bold">Better User Experience</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">Landing pages provide a focused and clear path for visitors, reducing confusion and making it easier for them to navigate your website. This improved user experience can lead to longer visits and a higher likelihood of return visits.</p>
              
            </dd>
          </div>
          

        
        </dl>
      </div>
    </div>
  </div>

  


 


  

  <ReversedTwoColumnContentBlock
    leadText="eCommerce Websites"
    title="Start selling on the web with ease" 
    image={seo2}
    imageAlt="eCommerce Websites"
    href="/"
    linkText="eCommerce Websites"
  >
    <Fragment slot="content" >
      <p class="my-4">
        An eCommerce website can be more than just an online shop selling products.
        
      </p>
      <p class="mb-4">
        We can also provide eCommerce websites for online bookings for appointments, events and courses etc, or for subscriptions.
        We can even provide membership websites, where you can restrict access to content for members only.
      </p>
    </Fragment>
  </ReversedTwoColumnContentBlock>

 
  <CallToAction
  background={cta}  
  title="Now let's get your website on Google."
  description="You've got your website, now you want people to see it. We use cutting-edge SEO techniques, including adding hundreds of highly optimized, targeted landing pages, to help potential customers find your website."
  linkText="Get Your Website Found"
/>



<TwoColumnContentBlock  
    
title="Website Content Writing"
image={copy}
imageAlt="Website Copywriting"
titleColor="black"
href="/"
linkText="Find Out More"
>
<Fragment slot="content" >
  <p class="my-4">
    Are you struggling to find the right words to convey your message on your website? Easynet Solutions has you covered with our expert website copywriting services. 
  </p>
  <p class="mb-4">
    Whether you're looking for stand-alone content creation or need it as part of our comprehensive web design and SEO services, we are here to help.
  </p>
  <p>
    Whether you need captivating product descriptions, informative blog posts, or persuasive landing page content, Easynet Solutions is your trusted partner in creating content that not only speaks to your audience but also drives results. Contact us today to discover how our website copywriting services can transform your online presence.
  </p>
</Fragment>
</TwoColumnContentBlock>

<CallToAction
  background={growth}  

  spanTitle="Grow your business the "
  titleSpan="Easy " spanTitleNext="Way"
  description="We understand that having a website built or beginning an online marketing campaign can be both exciting and daunting for you or your business. We take the time to understand your business and what you want from your website or campaign. We will work with you to create a unique solution that perfectly matches your needs and goals. We will do the heavy lifting for you, and will be with you every step of the way."
  linkText="Get Started Today"
/>


  

</Layout>

