---
const town = 'TOWN'
import DefaultContentBlock from "../components/Content/DefaultContentBlock.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import MidTitle from "../components/Headings/MidTitle.astro";
import TwoColumnContentBlock from "../components/Content/TwoColumnContentBlock.astro";
import ReversedTwoColumnContentBlock from "../components/Content/ReversedTwoColumnContentBlock.astro";
import CallToAction from "../components/CallToAction.astro";

import Hero from "../components/Hero/HeroNoCards.astro";
import ImageLeft from "../components/Content/ImageOnRight.astro";

import Layout from "../layouts/Layout.astro";
import backgroundImg from "../assets/images/google3.jpg";
import webDesign1 from "../assets/images/web-design-img4.png";
import seo2 from "../assets/images/google-mobile.png";
import seo3 from "../assets/images/google4.jpg";
import location from "../assets/images/location1.jpg";
import products from "../assets/images/products1.jpg";

import oasis from "../assets/images/oasis1.jpg";


import cta from  "../assets/images/cta-bg.jpg";
import copy from  "../assets/images/copy1.jpg";
import growth from  "../assets/images/growth1.jpg";
import placeholder from "../assets/images/600x600.png";

---

<Layout title="SEO and Digital Marketing Services" description="EasyNet Solutions provide cutting-edge SEO techniques to boost your web presence and increase traffic to your website.">
  
  <Hero
  title="Search Engine Optimisation & Digital Marketing"
  sub="Supercharge your Website Traffic"
  
  image={backgroundImg.src}
  >
  <div slot="heroContent"> 
    <p class="mt-6 lg:text-lg leading-8">
        Tired of losing out to your competitors on the web?
        Is your website not performing as well as it could be? Suffering from low traffic and low conversion rates?      
      
    </p>
    <p class="lg:text-lg leading-8">
        Reach new heights with our cutting-edge digital marketing solutions. We take a unique approach to Search Engine Optimisation and digital marketing, using groundbreaking techniques to drive traffic, leads and sales.
    </p>   
    
 
  </div>  

  
    
  
  
  
</div>

  

  </Hero>

  
<!--

<DefaultContentBlock
classes="bg-white"
leadingText="leading text here"
title="Get started from just £75"
textAlign="center"
>

<div slot="content" class="max-w-3xl mx-auto">
 
 <p>Welcome to EasyNet Solutions, your gateway to accessible and cost-effective web solutions that cater to all your digital needs. Our comprehensive services encompass budget-friendly web design, impactful SEO strategies, and results-driven digital marketing campaigns. At EasyNet Solutions, we believe that establishing a strong online presence shouldn't be a luxury reserved for a select few, but a possibility for all. 
</p>

  <p>With prices starting as low as £75, we proudly present an irresistible offer for a one-page website, making professional web design attainable without breaking the bank. Our team of skilled designers and developers are dedicated to crafting visually appealing, user-friendly, and responsive websites that effectively convey your brand's message. But we don't stop at design alone – our expertise extends to optimizing your online visibility through robust SEO techniques and driving growth via tailored digital marketing strategies. Join us on your journey to online success, where affordability meets excellence, only at EasyNet Solutions.</p>
</div>
  
</DefaultContentBlock> -->




    <TwoColumnContentBlock
    
    title="SEO and Digital Marketing"
    image={seo3}
    imageAlt="SEO"
    titleColor="black"
    href="/"
    linkText="Get Started Today"
  >
    <Fragment slot="content" >
      <p class="my-4">
        It can be difficult to know where to start when it comes to Search Engine Optimisation. You might feel overwhelmed and unsure of what exactly to do or where to turn.
      </p>
      <p class="mb-4">
        Let us take care of everything for you. We will produce a range of lightning-fast, highly-optimized landing pages to boost your online presence and give you the edge over the competition.</p>
      <p class="mb-4">
        More pages means that your site ranks higher on search results when people look for your products or services. This means more people finding your website, more orders, and more growth for your business. 
      </p>
      <p class="mb-4">
        We also offer a comprehensive local SEO service to provide your business with all the essential tools and strategies it requires for success in your local area.
      </p>
      <p>Get in touch today to begin your journey to digital success.</p>
    </Fragment>
  </TwoColumnContentBlock>



  <div class="bg-gray-900 py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base lg:text-xl font-semibold leading-7 text-easynet-orange">How it Works
        </h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-6xl">Targeted landing pages for increased website traffic</p>
        <p class="mt-6 text-lg leading-8 text-gray-300">By having more pages on your website you're seen as more authoritative by search engines. You also increase your chances of being found.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
          
            <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path d="M8.25 10.875a2.625 2.625 0 115.25 0 2.625 2.625 0 01-5.25 0z" />
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.125 4.5a4.125 4.125 0 102.338 7.524l2.007 2.006a.75.75 0 101.06-1.06l-2.006-2.007a4.125 4.125 0 00-3.399-6.463z" clip-rule="evenodd" />
              </svg>
              
                  
                  
             <span class="font-bold">Enhanced Visibility</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">Landing pages can be tailored to specific keywords and topics related to your business. When people search for these keywords, your optimized landing pages are more likely to appear in search engine results, increasing your website's visibility.</p>
              
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path fill-rule="evenodd" d="M3.22 3.22a.75.75 0 011.06 0l3.97 3.97V4.5a.75.75 0 011.5 0V9a.75.75 0 01-.75.75H4.5a.75.75 0 010-1.5h2.69L3.22 4.28a.75.75 0 010-1.06zm17.56 0a.75.75 0 010 1.06l-3.97 3.97h2.69a.75.75 0 010 1.5H15a.75.75 0 01-.75-.75V4.5a.75.75 0 011.5 0v2.69l3.97-3.97a.75.75 0 011.06 0zM3.75 15a.75.75 0 01.75-.75H9a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-2.69l-3.97 3.97a.75.75 0 01-1.06-1.06l3.97-3.97H4.5a.75.75 0 01-.75-.75zm10.5 0a.75.75 0 01.75-.75h4.5a.75.75 0 010 1.5h-2.69l3.97 3.97a.75.75 0 11-1.06 1.06l-3.97-3.97v2.69a.75.75 0 01-1.5 0V15z" clip-rule="evenodd" />
              </svg>
              
             <span class="font-bold">Targeted Audience</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">
                Landing pages allow you to address different segments of your audience. By creating content that caters to their specific interests or needs, you're more likely to attract and retain visitors who are genuinely interested in your products or services.
             </p>
             
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path fill-rule="evenodd" d="M5.166 2.621v.858c-1.035.148-2.059.33-3.071.543a.75.75 0 00-.584.859 6.753 6.753 0 006.138 5.6 6.73 6.73 0 002.743 1.346A6.707 6.707 0 019.279 15H8.54c-1.036 0-1.875.84-1.875 1.875V19.5h-.75a2.25 2.25 0 00-2.25 2.25c0 .414.336.75.75.75h15a.75.75 0 00.75-.75 2.25 2.25 0 00-2.25-2.25h-.75v-2.625c0-1.036-.84-1.875-1.875-1.875h-.739a6.706 6.706 0 01-1.112-3.173 6.73 6.73 0 002.743-1.347 6.753 6.753 0 006.139-5.6.75.75 0 00-.585-.858 47.077 47.077 0 00-3.07-.543V2.62a.75.75 0 00-.658-.744 49.22 49.22 0 00-6.093-.377c-2.063 0-4.096.128-6.093.377a.75.75 0 00-.657.744zm0 2.629c0 1.196.312 2.32.857 3.294A5.266 5.266 0 013.16 5.337a45.6 45.6 0 012.006-.343v.256zm13.5 0v-.256c.674.1 1.343.214 2.006.343a5.265 5.265 0 01-2.863 3.207 6.72 6.72 0 00.857-3.294z" clip-rule="evenodd" />
              </svg>
              
                  
                  
                  
                  
                  
             <span class="font-bold">Competitive Advantage</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">Many competitors may only have a few generic pages on their website. By investing in numerous targeted landing pages, you can stand out in your industry and gain a competitive edge.</p>
             
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                    <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
                  </svg>
                  
                  
                  
                  
                  
             <span class="font-bold">Better User Experience</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">Landing pages provide a focused and clear path for visitors, reducing confusion and making it easier for them to navigate your website. This improved user experience can lead to longer visits and a higher likelihood of return visits.</p>
              
            </dd>
          </div>
          

        
        </dl>
      </div>
    </div>
  </div>

  <ReversedTwoColumnContentBlock
    leadText="Location-based Landing Pages"
    title="Connect with Your Local Audience" 
    image={location} 
    imageAlt="Location-based Landing Pages"
    href="/"
    linkText="Get Started Today"
  >
    <Fragment slot="content" >
      <p class="my-4">
        Location based landing pages not only help your website rank higher for location-specific keywords but also enable you to connect more effectively with your local audience. 
      </p>
      <p class="mb-4">
        This is a powerful tool for businesses looking to establish a strong presence in a particular town, city, or region. By tailoring your content and marketing efforts to suit the preferences and needs of your local customers, you can build trust and credibility, which are essential for long-term success.
      </p>
      <p class="mb-4"> By having location-specific pages, you can also attract more relevant visitors from different your preferred geographical locations.</p>
      <p>By including contact information and location-specific details on targeted landing pages, you can make it easy for customers to find and contact you. This can help to increase foot traffic to physical stores and to improve the customer experience.</p>
    </Fragment>
  </ReversedTwoColumnContentBlock>


<TwoColumnContentBlock  
 
leadText="Product & Service Based Landing Pages"
title="Convert Visitors to Customers"
image={products}
imageAlt="Product & Service Based Landing Pages"
titleColor="black"
href="/"
linkText="Find Out More"
>
<Fragment slot="content" >
  <p class="my-4">
   These landing pages are tailored to focus on a specific product or service that you offer. 
  </p>
  <p class="mb-4">
    Having a dedicated landing page for each product or service can help to provide customers with a much smoother experience. This is because it enables them to quickly find the information they are looking for.  </p>
  <p>
    These landing pages are a valuable asset for businesses, as they enable you to emphasize the unique benefits of your product or service. You can showcase its features, quality, and advantages in a clear and persuasive manner.   </p>
</Fragment>
</TwoColumnContentBlock>

<div class="max-w-7xl mx-auto px-8 mb-10 leading-8 lg:text-lg mt-5 text-gray-700 lg:col-start-1 lg:row-start-1 lg:max-w-none">
<SubTitle textAlign="left">
  Double your chances of being seen
</SubTitle>
<p class="my-4">By combining both location-based and product or service-based landing pages, you can double your chances of being found by potential customers.</p>
<p class="mb-4">Here's how it works: With location pages, you can target specific areas, like cities or towns. With product or service pages, you can highlight what you offer. So, if you want to showcase a specific product in a particular location, these pages help you do just that. This combination not only makes your business more visible but also increases your chances of attracting potential customers who are looking for exactly what you have to offer.
</p>

</div>

<CallToAction
  background={cta}  
  title="Time to start being seen"
  description="Start connecting with more customers today. Get in touch to begin your journey on the road to discovery!"
  linkText="Get Your Website Found"
/>


<TwoColumnContentBlock  
 
leadText="Case Study"
title="A Google Success Story"
image={oasis}
imageAlt="Product & Service Based Landing Pages"
titleColor="black"
href="/"
linkText="Find Out More"

>
<Fragment slot="content" >
  <p class="my-4">
Oasi Thai Massage, based in Wallsend, were a brand new business without a website or any web presence.  </p>
  <p class="mb-4">
  We built them a brand new website, and developed a digital marketing strategy that included generating highly-optimised landing pages for each service they provide, and targeting the local area. 
  </p>
  <p class="mb-4">
    Our comprehensive SEO strategy also included leveraging powerful SEO tools to submit the website to a range of directories and platforms, significantly enhancing local SEO performance by increasing online visibility and credibility, and ensuring that they are easily discoverable by local customers.  </p>
    <p class="font-bold">
      As a result, Oasis Thai Massage is now at the top of Google searches in the local area.
    </p>
   
</Fragment>

</TwoColumnContentBlock>


  
<section class="isolate overflow-hidden pt-10 bg-white px-6 lg:px-8">
  <div class="relative mx-auto max-w-6xl">
    
    <figure class="grid grid-cols-1 items-center gap-x-6 gap-y-8 lg:gap-x-10">
      <div class="relative col-span-2 lg:col-start-1 lg:row-start-2">
        <svg viewBox="0 0 162 128" fill="none" aria-hidden="true" class="absolute -top-12 left-0 -z-10 h-32 stroke-gray-900/10">
          <path id="b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb" d="M65.5697 118.507L65.8918 118.89C68.9503 116.314 71.367 113.253 73.1386 109.71C74.9162 106.155 75.8027 102.28 75.8027 98.0919C75.8027 94.237 75.16 90.6155 73.8708 87.2314C72.5851 83.8565 70.8137 80.9533 68.553 78.5292C66.4529 76.1079 63.9476 74.2482 61.0407 72.9536C58.2795 71.4949 55.276 70.767 52.0386 70.767C48.9935 70.767 46.4686 71.1668 44.4872 71.9924L44.4799 71.9955L44.4726 71.9988C42.7101 72.7999 41.1035 73.6831 39.6544 74.6492C38.2407 75.5916 36.8279 76.455 35.4159 77.2394L35.4047 77.2457L35.3938 77.2525C34.2318 77.9787 32.6713 78.3634 30.6736 78.3634C29.0405 78.3634 27.5131 77.2868 26.1274 74.8257C24.7483 72.2185 24.0519 69.2166 24.0519 65.8071C24.0519 60.0311 25.3782 54.4081 28.0373 48.9335C30.703 43.4454 34.3114 38.345 38.8667 33.6325C43.5812 28.761 49.0045 24.5159 55.1389 20.8979C60.1667 18.0071 65.4966 15.6179 71.1291 13.7305C73.8626 12.8145 75.8027 10.2968 75.8027 7.38572C75.8027 3.6497 72.6341 0.62247 68.8814 1.1527C61.1635 2.2432 53.7398 4.41426 46.6119 7.66522C37.5369 11.6459 29.5729 17.0612 22.7236 23.9105C16.0322 30.6019 10.618 38.4859 6.47981 47.558L6.47976 47.558L6.47682 47.5647C2.4901 56.6544 0.5 66.6148 0.5 77.4391C0.5 84.2996 1.61702 90.7679 3.85425 96.8404L3.8558 96.8445C6.08991 102.749 9.12394 108.02 12.959 112.654L12.959 112.654L12.9646 112.661C16.8027 117.138 21.2829 120.739 26.4034 123.459L26.4033 123.459L26.4144 123.465C31.5505 126.033 37.0873 127.316 43.0178 127.316C47.5035 127.316 51.6783 126.595 55.5376 125.148L55.5376 125.148L55.5477 125.144C59.5516 123.542 63.0052 121.456 65.9019 118.881L65.5697 118.507Z" />
          <use href="#b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb" x="86" />
        </svg>
        <blockquote class="text-xl text-gray-700 italic leading-8 sm:text-2xl sm:leading-9">
          <p>....a tremendous help in establishing our brand online. As a new business with no web presence, this made a real difference in getting us noticed by local customers.</p>
        </blockquote>
      </div>
     
      <figcaption class="text-base lg:col-start-1 lg:row-start-3">
        <div class="font-semibold text-gray-900">Oasis Thai Massage</div>
        <div class="mt-1 text-gray-500">Wallsend, UK</div>
      </figcaption>
    </figure>
  </div>
</section>


</Layout>

