---
const town = 'TOWN'
import DefaultContentBlock from "../components/Content/DefaultContentBlock.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import MidTitle from "../components/Headings/MidTitle.astro";
import TwoColumnContentBlock from "../components/Content/TwoColumnContentBlock.astro";
import ReversedTwoColumnContentBlock from "../components/Content/ReversedTwoColumnContentBlock.astro";
import CallToAction from "../components/CallToAction.astro";

import Hero from "../components/Hero/EsHero.astro";
import ImageLeft from "../components/Content/ImageOnRight.astro";

import Layout from "../layouts/Layout.astro";
import backgroundImg from "../assets/images/web-bg2.png";
import webDesign1 from "../assets/images/web-design-img4.png";
import seo1 from "../assets/images/seo1.png";
import cta from  "../assets/images/cta-bg.jpg";
import copy from  "../assets/images/copy1.jpg";
import growth from  "../assets/images/growth1.jpg";
import placeholder from "../assets/images/600x600.png";

---

<Layout title="Affordable Web Design, SEO and Digital Marketing Services" description="EasyNet Solutions provide affordable web design and digital marketing solutions for your business.">
  
  <Hero
  title="Low Cost Web Design"
  sub="Affordable Web Design from £75"
  
  image={backgroundImg.src}
  >
  <div slot="heroContent"> 
    <p class="mt-6 lg:text-lg leading-8">
        Fully responsive, feature-rich and lightning fast websites - ideal for your first website or as an update for your current website.

        
      
    </p>
    <p class="lg:text-lg leading-8">
        Whether you need a simple website to boost your online presence, an eCommerce store to sell your products on the web, an online booking system, or something else, we will work with you to find the perfect solution.
    </p>   
    
 
  </div>  

  <div slot="card1">

  <div class="text-base leading-7">
    <h3 class="font-semibold text-3xl text-white">Bespoke website packages
        tailored to your needs</h3>
    
  </div>
    
      </div>

<div slot="card2">

  <div class="text-base leading-7">
    <h3 class="font-semibold text-3xl text-white">Feature packed lightning-fast websites.</h3>
  </div>
    
</div>

<div slot="card3">
    
  <div class="text-base leading-7">
 
      

      
    <h3 class="font-semibold text-3xl text-white">Fully responsive designs to work on any device</h3>
  </div>
    
  
  
  
</div>

  

  </Hero>



    <TwoColumnContentBlock
    
    title="Web Design"
    image={webDesign1}
    imageAlt="Web Design"
    titleColor="black"
    href="/"
    linkText="Find Out More"
  >
    <Fragment slot="content" >
      <p class="my-4">
        At EasyNet Solutions, we're all about making your online journey smooth and enjoyable.<br />Our websites are designed to be user-friendly and loaded with impressive features. Whether you're venturing into the online world for the first time or giving your current site a makeover, we've got the perfect solution for you.
      </p>
      <p class="mb-4">
        Whether you need a straightforward website to boost your online presence, an eye-catching eCommerce store to showcase and sell your products, a hassle-free online booking system, or something entirely unique, count on us to be your trusted partner every step of the way.

    </p>
      <p>
        With prices starting at just £75 you will be sure to get unbeatable value for money as well as a professional, friendly and helpful service.
      </p>
    </Fragment>
  </TwoColumnContentBlock>



  <div class="bg-gray-900 py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base lg:text-xl font-semibold leading-7 text-easynet-orange">Website Features
        </h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-6xl">Everything you need to make your website work for you</p>
        <p class="mt-6 text-lg leading-8 text-gray-300">We deliver web design services that create a lasting impression for your business. Your website is often the first point of contact with your audience, and we ensure it makes a powerful impact and is user friendly.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
          
            <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 00-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 01-.189-.866c0-.298.059-.605.189-.866zm2.023 6.828a.75.75 0 10-1.06-1.06 3.75 3.75 0 01-5.304 0 .75.75 0 00-1.06 1.06 5.25 5.25 0 007.424 0z" clip-rule="evenodd" />
              </svg>
              
                  
                  
                  
                  
             <span class="font-bold">User-Friendly</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">We know that complex websites can deter visitors. That's why we prioritize user-friendly interfaces, making it easy for your audience to find what they need.

              </p>
              
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path d="M10.5 18.75a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z" />
                <path fill-rule="evenodd" d="M8.625.75A3.375 3.375 0 005.25 4.125v15.75a3.375 3.375 0 003.375 3.375h6.75a3.375 3.375 0 003.375-3.375V4.125A3.375 3.375 0 0015.375.75h-6.75zM7.5 4.125C7.5 3.504 8.004 3 8.625 3H9.75v.375c0 .621.504 1.125 1.125 1.125h2.25c.621 0 1.125-.504 1.125-1.125V3h1.125c.621 0 1.125.504 1.125 1.125v15.75c0 .621-.504 1.125-1.125 1.125h-6.75A1.125 1.125 0 017.5 19.875V4.125z" clip-rule="evenodd" />
              </svg>
              
             <span class="font-bold">Mobile-Friendly
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto"> In today's mobile-driven world, we make sure your website looks and functions well on all devices, from desktops to smartphones.</p>
             
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path d="M8.25 10.875a2.625 2.625 0 115.25 0 2.625 2.625 0 01-5.25 0z" />
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.125 4.5a4.125 4.125 0 102.338 7.524l2.007 2.006a.75.75 0 101.06-1.06l-2.006-2.007a4.125 4.125 0 00-3.399-6.463z" clip-rule="evenodd" />
              </svg>
              
              
             <span class="font-bold">SEO Integration</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">We optimize your website to enhance its visibility on search engines, helping potential customers find you easily.</p>
             
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
              </svg>
              
                  
             <span class="font-bold">Effective Content</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">We focus on creating content that engages your audience and drives results. Whether it's compelling copy or eye-catching visuals, we ensure your message resonates with visitors.</p>
              
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z" />
              </svg>
              
                  
             <span class="font-bold">Scalable Solutions
            </span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">Our designs are built to grow with your business. Whether you're a small startup or an established enterprise, our websites are flexible and scalable to accommodate your future needs.</p>
             
            </dd>
          </div>
          

          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-2xl leading-7 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ff9a02" class="w-16 h-16">
                <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z" clip-rule="evenodd" />
                <path d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z" />
              </svg>
              
             <span class="font-bold">Tailored for Your Audience</span>
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
              <p class="flex-auto">We design with your audience in mind. Whether it's a clean, minimalistic style or a vibrant, interactive layout, we tailor your website to match your audience's preferences and needs.</p>
              
            </dd>
          </div>
          
        </dl>
      </div>
    </div>
  </div>

  


 


  

  <ReversedTwoColumnContentBlock
    leadText="eCommerce Websites"
    title="Start selling on the web with ease" 
    image={seo1}
    imageAlt="eCommerce Websites"
    href="/"
    linkText="eCommerce Websites"
  >
    <Fragment slot="content" >
      <p class="my-4">
        An eCommerce website can be more than just an online shop selling products.
        
      </p>
      <p class="mb-4">
        We can also provide eCommerce websites for online bookings for appointments, events and courses etc, or for subscriptions.
        We can even provide membership websites, where you can restrict access to content for members only.
      </p>
    </Fragment>
  </ReversedTwoColumnContentBlock>

 
  <CallToAction
  background={cta}  
  title="Now let's get your website on Google."
  description="You've got your website, now you want people to see it. We use cutting-edge SEO techniques, including adding hundreds of highly optimized, targeted landing pages, to help potential customers find your website."
  linkText="Get Your Website Found"
/>



<TwoColumnContentBlock  
    
title="Website Content Writing"
image={copy}
imageAlt="Website Copywriting"
titleColor="black"
href="/"
linkText="Find Out More"
>
<Fragment slot="content" >
  <p class="my-4">
    Are you struggling to find the right words to convey your message on your website? Easynet Solutions has you covered with our expert website copywriting services. 
  </p>
  <p class="mb-4">
    Whether you're looking for stand-alone content creation or need it as part of our comprehensive web design and SEO services, we are here to help.
  </p>
  <p>
    Whether you need captivating product descriptions, informative blog posts, or persuasive landing page content, Easynet Solutions is your trusted partner in creating content that not only speaks to your audience but also drives results. Contact us today to discover how our website copywriting services can transform your online presence.
  </p>
</Fragment>
</TwoColumnContentBlock>

<CallToAction
  background={growth}  

  spanTitle="Grow your business the "
  titleSpan="Easy " spanTitleNext="Way"
  description="We understand that having a website built or beginning an online marketing campaign can be both exciting and daunting for you or your business. We take the time to understand your business and what you want from your website or campaign. We will work with you to create a unique solution that perfectly matches your needs and goals. We will do the heavy lifting for you, and will be with you every step of the way."
  linkText="Get Started Today"
/>


  

</Layout>

